:root {
  --primaryFont: 'Antonio', 'sans-serif';
  --secondaryFont: 'Spartan', 'sans-serif';
}

$primaryFont: var(--primaryFont);
$secondaryFont: var(--secondaryFont);

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100vh;
}

body {
  font-kerning: normal;
  margin: 0;
  padding: 0;
  font-display: swap;
  overflow-x: hidden;
}

.generic-border-bottom {
  --borderColor: #9797974d;
  border-bottom: 0.5px solid var(--borderColor);
}

.inactive-link {
  color: change-color($color: #ffffff, $lightness: 50%, $alpha: 1);
}

.active-link {
  color: change-color($color: #ffffff, $lightness: 100%, $alpha: 1);
}
